.ctn-3{
    margin-top: 300px;
    color: black;
    text-align: right;
  }
  
  .heading-5{
    margin: 30px;
    font-weight: 800;
    color: black;
  }
  
  .text-6{
    margin: 15px;
    line-height: 30px;
    font-size: 18px;
    color: black;
  }
